In [1]:
import sqlite3
import pandas as pd

In [2]:
#Initialize connection and entities
conn = sqlite3.connect('STAFF.db')
table_name='Departments'
attribute_list = ['DEPT_ID','DEP_NAME','MANAGER_ID','LOC_ID']

In [3]:
df = pd.read_csv('Departments.csv',names=attribute_list)
print(df)

   DEPT_ID         DEP_NAME  MANAGER_ID LOC_ID
0        2  Architect Group       30001  L0001
1        5   Software Group       30002  L0002
2        7      Design Team       30003  L0003

In [8]:
#load this to sql
#df.to_sql(table_name, conn, if_exists = 'replace', index =False)
df.to_sql(table_name, conn, if_exists='replace', index=False)
print("Table created")

Table created

In [9]:
# appending a row to DB

In [11]:
data_dict = pd.DataFrame({'DEPT_ID':9,'DEP_NAME':'Quality Assurance','MANAGER_ID':'30010','LOC_ID':'L0010'},index=[0])
data_dict

   DEPT_ID           DEP_NAME MANAGER_ID LOC_ID
0        9  Quality Assurance      30010  L0010

In [15]:
data_dict.to_sql(table_name,conn,if_exists='append',index=False)
print("appended Successfully")

appended Successfully

In [16]:
s_query = f"SELECT * FROM {table_name}"
s_out = pd.read_sql(s_query,conn)
print(s_out)

   DEPT_ID           DEP_NAME  MANAGER_ID LOC_ID
0        2    Architect Group       30001  L0001
1        5     Software Group       30002  L0002
2        7        Design Team       30003  L0003
3        9  Quality Assurance       30010  L0010
4        9  Quality Assurance       30010  L0010
5        9  Quality Assurance       30010  L0010